{% load static %}
<html lang="en">
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'table/vendor/bootstrap/css/bootstrap.min.css' %}">
      <title>
         {% block title %}

      </title>
       {% endblock %}
       <!--       css for signup !!-->
       	<link rel="icon" type="image/png" href="{% static 'user/signup/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="v{% static 'user/signup/vendor/bootstrap/css/bootstrap.min.css' %}">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user/signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'header/header-fixed.css' %}">
     <link href = "{% static 'jquery/jquery-ui.css' %}"  rel = "stylesheet">
      <script src = "{% static 'jquery/jquery-3.4.1.js' %}"></script>
      <script src = "{% static 'jquery/jquery-ui.min.js' %}"></script>
<!--dialog-->
   </head>
   <body>

      <header class="header-fixed">
         <div class="header-limiter">
            <h1><a href="#">Book<span>Seller</span></a></h1>
            <nav>
                <a href="{% url 'sell' %}" class="effect-underline underlineA">SELL</a>
                <a href="{% url 'buy' %}" class="effect-underline underlineA">BUY</a>
                <a href="{% url 'dashboard' %}" class="effect-underline underlineA" >DASHBOARD</a>

                {% if user.is_authenticated %}

                <a href="{% url 'logout' %}"  class="effect-underline underlineA">LOGOUT</a>

                {% else %}

                <a href="{% url 'login' %}"  class="effect-underline underlineA">LOGIN</a>
                <a href="{% url 'signup' %}" class="effect-underline underlineA" >SIGNUP</a>

                {% endif %}
            </nav>
         </div>
      </header>
      <!-- You need this element to prevent the content of the page from jumping up -->
      <div class="header-fixed-placeholder"></div>

      {%  block body %}
      <h1>Base body</h1>
      {% endblock %}


      <script>
         $(document).ready(function(){

         	var showHeaderAt = 150;

         	var win = $(window),
         			body = $('body');

         	// Show the fixed header only on larger screen devices

         	if(win.width() > 600){

         		// When we scroll more than 150px down, we set the
         		// "fixed" class on the body element.

         		win.on('scroll', function(e){

         			if(win.scrollTop() > showHeaderAt) {
         				body.addClass('fixed');
         			}
         			else {
         				body.removeClass('fixed');
         			}
         		});

         	}

         });

      </script>
    <script>
            function contactSeller(id,user_id){
                $.ajax({
                    url: 'buy/',
                    data : {
                        'id': id,
                        'user_id':user_id
                    },
                    success: function (data) {
                                        alert("Seller Contacted Successfully with id " + data["id"])

                    }
                });

        }
    </script>
   </body>
</html>

